h1 {
	margin: 0 0 10px;
	padding: 0 0 10px;
	border-bottom: 1px #000 solid;
}

h2 {
	margin: 0 0 10px;
}

p {
	margin: 5px 0 10px;
}

#admin_menu {
	height: 40px;
	list-style-type: none;
}

#admin_menu li {
	float: left;
	margin: 0 10px 0 0;
}

#admin_menu li a {
	display: inline-block;
	height: 20px;
	line-height: 20px;
	padding: 3px 10px;
	border: 1px #ccc solid;
	text-decoration: none;
}

#admin_menu li a:hover {
	background: #333;
	color: #fff;
}