html, body, h1, h2, h3, h4, p, ul, li {
	margin: 0;
	padding: 0;
}

body {
	font-family: verdana, sans-serif;
	font-size: 11px;
}

#frame {
	width: 1000px;
	margin: 20px auto;
}

#header {
	padding: 5px;
	border: 1px #333 solid;
	border-radius: 5px;
	background: #040404;
	color: #fff;
	
}

#header .profile {
	position: relative;
	font-family: 'Gudea';
}

#header .thumb {
	width: 84px;
	height: 84px;
	border-radius: 3px;
	background-position: top left;
	background-repeat: no-repeat;
}

#header h1 {
	position: absolute;
	left: 95px;
	top: 0;
	font-size: 22px;
	font-weight: 700;
	text-shadow: #fff 0 0 2px;
}

#header h2 {
	position: absolute;
	left: 95px;
	top: 33px;
	font-size: 16px;
	font-weight: 700;
}

#header h3 {
	position: absolute;
	left: 95px;
	top: 65px;
	font-size: 14px;
	font-weight: normal;
}

#header h3 .level, #header h3 .race {
	padding: 0 5px;
	border-right: 1px #ccc solid;
}

#header h3 .class {
	padding: 0 5px;
}

#timeline {
	position: relative;
	min-height: 200px;
	margin: 50px auto 0;
	padding: 5px;
	border: 1px #000 solid;
	border-radius: 5px;
	background: #f0f0f0;
}

#time_index {
	position: absolute;
	top: 5px;
	left: 473px;
	width: 50px;
	min-height: 500px;
	border: 1px #000 solid;
}

#time_index p {
	position: absolute;
	width: 50px;
	text-align: center;
	font-weight: bold;
}

#entry_template {
	display: none;
}

#timeline .entry {
	position: absolute;
	width: 400px;
	margin: 0 0 5px;
	padding: 5px;
	border: 1px #000 solid;
	border-radius: 5px;
	list-style-type: none;
	background: #333;
	color: #fff;	
}

#timeline .entry.hover {
	z-index: 1000;
}

#timeline .entry.left {
	left: 5px;
}

#timeline .entry.right {
	right: 5px;
}

#timeline .entry .date {
	display: block;
	margin: 0 0 5px;
	color: grey;
}

#timeline .entry.left .date {
	text-align: right;
}

#timeline .entry .l {
	position: absolute;
	right: -57px;
	width: 56px;
	height: 1px;
	background: #000;
}

#timeline .entry.right .l {
	left: -57px;
}

#timeline .entry p.hidden {
	display: none;
}


#timeline .entry .exp {
	position: absolute;
	bottom: 1px;
	right: 1px;
	height: 16px;
	padding: 0 20px 0 0;
	background: url(/images/arrow-315.png) bottom right no-repeat;
	cursor: pointer;
}

#timeline .entry.hover .exp {
	display: none;
}

.c1,.c1 a{color:#C69B6D!important;}.c2,.c2 a{color:#F48CBA!important;}.c3,.c3 a{color:#AAD372!important;}.c4,.c4 a{color:#FFF468!important;}.c5,.c5 a{color:#FFF!important;}.c6,.c6 a{color:#C41E3B!important;}.c7,.c7 a{color:#2359FF!important;}.c8,.c8 a{color:#68CCEF!important;}.c9,.c9 a{color:#9382C9!important;}.c11,.c11 a{color:#FF7C0A!important;}.c12,.c12 a{color:#008467!important;}
.q0,.q0 a{color:#9d9d9d!important;}.q1,.q1 a{color:#fff!important;}.q2,.q2 a{color:#1eff00!important;}.q3,.q3 a{color:#0070dd!important;}.q4,.q4 a,.color-q4,.wowhead-tooltip .q4 a{color:#a335ee!important;}.q5,.q5 a,.color-q5,.wowhead-tooltip .q5 a{color:#ff8000!important;}.q6,.q6 a,.color-q6,.wowhead-tooltip .q6 a{color:#e5cc80!important;}.q7,.q7 a,.color-q7,.wowhead-tooltip .q7 a{color:#e5cc80!important;}.q8,.q8 a,.color-q8,.wowhead-tooltip .q8 a{color:#ffff98!important;}.q9,.q9 a,.color-q9,.wowhead-tooltip .q9 a{color:#71d5ff!important;}.q10,.q10 a,.color-q10,.wowhead-tooltip .q10 a{color:#ff4040!important;}

.clear {
	clear: both;
}